---
import { Briefcase } from "lucide-astro";

const { class: className, ...rest } = Astro.props;
---

<h2>
  <span
    class:list={[
      "text-sm px-3 py-1.5 border border-border/30 rounded-full flex flex-row gap-2 items-center justify-center w-fit",
      className,
    ]}
  >
    <slot />
  </span>
</h2>
